body{
    max-width:1100px;
    margin:10px auto;
}
.content{
    margin-top: 10%;
}
.profile_head_icon img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 60%;
    margin:auto;
    border:1px solid #c0c0c0;
}
.profile_head_text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    flex: auto;
    margin-top:3%;
}
.profile_head_count {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.profile_head_count span {
    font-size: 22px;
    font-weight: normal;
    display: block;
}
p {
    font-size: 25px;
    margin-left: 3%;
}
.profile_body {
    display: flex;
}
.profile_body_text a {
    color: #6f6969;
    text-decoration: none;
}
.profile_body_text ul li {
    font-size: 15px;
    padding-left: 1em;
    position: relative;
    list-style: none;
}
.profile_body_text ul li::before {
    content: "-";
    position: absolute;
    inset: 0 auto auto 0;
}
.profile_actions {
    transform: translateX(111%); /* 要素を右に移動 */
    margin:5px auto;
}


.private-name{
    display:block;
    font-size: 30px;
    margin:15px auto 0px;
}

.vio{
    margin-left: 83px;
    font-size: 18px;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.post img {
    display: block;
    width: 100%;
}

.text-content-wrapper {
    position: relative;
}

.text-content {
    display: -webkit-box;
     /* -webkit-line-clamp: 3;  表示する行数 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    position: relative;
    max-width: 87%;
}

#read-more {
    background: none;
    color: black; /* 黒字で表示 */
    border: none;
    cursor: pointer;
    padding: 0 5px;
    display: inline;
}

a {
    color: black; /* リンクの文字色を黒に設定 */
    text-decoration: none; /* アンダーラインを消す */
}


.profile_body_edit {
    margin: 10px s0;
}

.profile_body_edit a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #DC34E0; /* 枠線を追加 */
    border-radius: 5px; /* 角を丸くする */
    text-decoration: none; /* 下線を削除 */
    color: #000; /* テキストカラーを黒に */
    background-color: white; 
    transition: background-color 0.3s, border-color 0.3s; /* ホバー時のトランジション効果 */
}

.profile_body_edit a:hover {
    background-color: #ee19f2; /* ホバー時の背景色 */
    border-color:#fd80ff; /* ホバー時の枠線色 */
    color:white;
}

.center-image img {
display:block;
margin:auto;
}