body{
    max-width:1100px;
    margin:10px auto;
}
.content{
    margin-top: 10%;
}
.profile_head_icon img {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 60%;
    margin:auto;
    border:1px solid #c0c0c0;
}
.profile_head_text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    flex: auto;
    margin-top:3%;
}
.profile_head_count {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.profile_head_count span {
    font-size: 22px;
    font-weight: normal;
    display: block;
}
p {
    font-size: 25px;
    margin-left: 3%;
}
.profile_body {
    display: flex;
}
.profile_body_text a {
    color: #6f6969;
    text-decoration: none;
}
.profile_body_text ul li {
    font-size: 15px;
    padding-left: 1em;
    position: relative;
    list-style: none;
}
.profile_body_text ul li::before {
    content: "-";
    position: absolute;
    inset: 0 auto auto 0;
}
.profile_actions {
    transform: translateX(111%); /* 要素を右に移動 */
    margin:5px auto;
}

.profile_actions .not_follow a,
.profile_actions .message a,
.profile_actions .follow a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; 
    padding: 0 20px; 
    color: #333;
    font-size: 20px; 
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    white-space: nowrap;
}
.profile_actions .not_follow a {
    background-color: #91a3ef;
}

.profile_actions .follow a {
    background-color: #c5c5c5;
}

.profile_actions .message a {
    margin-left: 40px;
    background-color: #91a3ef;
}

.private-name{
    display:block;
    font-size: 30px;
    margin:15px auto 0px;
}

.vio{
    margin-left: 83px;
    font-size: 18px;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.post img {
    display: block;
    width: 100%;
}

.text-content-wrapper {
    position: relative;
}

.text-content {
    display: -webkit-box;
     /* -webkit-line-clamp: 3;  表示する行数 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    position: relative;
    max-width: 87%;
}

#read-more {
    background: none;
    color: blue;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 5px;
    background-color: white;
    display: inline;
}

.ff-switch {
    text-align: center;
    margin-bottom: 20px;
}

.ff-switch a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

.ff-switch a:hover {
    text-decoration: underline;
}

ul.user-list {
    list-style: none;
    padding: 0;
}

ul.user-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

ul.user-list li img {
    width: 40px; /* アイコンの幅を設定 */
    height: 40px; /* アイコンの高さを設定 */
    border-radius: 50%; /* 丸くする */
    margin-right: 10px; /* 画像とテキストの間にスペースを追加 */
}

ul.user-list li a {
    color: black; /* リンクの文字色を黒に設定 */
    text-decoration: none; /* アンダーラインを消す */
}

a {
    color: black; /* リンクの文字色を黒に設定 */
    text-decoration: none; /* アンダーラインを消す */
}

/* モーダルウィンドウのスタイル */
.modal {
    display: none; /* 初期状態では非表示 */
    position: fixed; /* スクロールしても常に表示 */
    z-index: 1; /* 他のコンテンツの上に表示 */
    padding-top: 60px; /* モーダルコンテンツの位置を調整 */
    left: 0;
    top: 0;
    width: 100%; /* 横幅を100%に設定 */
    height: 100%; /* 高さを100%に設定 */
    overflow: auto; /* 必要に応じてスクロール */
    background-color: rgb(0,0,0); /* 背景色 */
    background-color: rgba(0,0,0,0.9); /* 背景色に透明度を追加 */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.profile_body_edit {
    margin: 10px s0;
}

.profile_body_edit a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #DC34E0; /* 枠線を追加 */
    border-radius: 5px; /* 角を丸くする */
    text-decoration: none; /* 下線を削除 */
    color: #000; /* テキストカラーを黒に */
    background-color: white; 
    transition: background-color 0.3s, border-color 0.3s; /* ホバー時のトランジション効果 */
}

.profile_body_edit a:hover {
    background-color: #ee19f2; /* ホバー時の背景色 */
    border-color:#fd80ff; /* ホバー時の枠線色 */
    color:white;
}