
body {
    margin-top: 5%;
    max-width: 1100px;
    margin: 8% auto 0;
}

ul.user-list {
    list-style: none;
    padding: 0;
}

ul.user-list li {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 要素間にスペースを追加 */
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

ul.user-list li img {
    width: 40px; /* アイコンの幅を設定 */
    height: 40px; /* アイコンの高さを設定 */
    border-radius: 50%; /* 丸くする */
    margin-right: 10px; /* 画像とテキストの間にスペースを追加 */
}

ul.user-list li a {
    color: black; /* リンクの文字色を黒に設定 */
    text-decoration: none; /* アンダーラインを消す */
}

.message-button {
    background-color: #91a3ef;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 20px; /* 必要に応じてパディングを調整 */
    white-space: nowrap;
    margin-left: auto; /* ボタンを右に押し出す */
}

#searchUser {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* タブのスタイル */
.tab {
    overflow: hidden;
    background-color: #f7d3e0; /* 淡いピンク背景 */
    margin-bottom: 20px;
    border-radius: 10px;
}

.tab button {
    background-color: #fbd4d8; /* 薄いピンク */
    border: none;
    outline: none;
    padding: 14px 16px;
    cursor: pointer;
    float: left;
    border-radius: 10px 10px 0 0; /* タブの角を丸くする */
    transition: background-color 0.3s ease;
}

.tab button:hover {
    background-color: #f9b2b7; /* ホバー時の濃いピンク */
}

.tab button.active {
    background-color: #f5a7a9; /* アクティブタブの背景色 */
}

.tabcontent {
    display: none;
    padding: 20px;
    border: 1px solid #f5a7a9; /* アクティブタブのボーダー色と合わせる */
    border-top: none;
    border-radius: 0 0 10px 10px; /* タブの角を丸くする */
    background-color: #fef6f8; /* 淡い背景色 */
}

.tabcontent img {
    vertical-align: middle;
}
