
.profile_name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}
.profile_head_icon img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 70%;
    margin-left: 10%;
}
.profile_head_text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    flex: auto;
}
.profile_head_count {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.profile_head_count span {
    font-size: 22px;
    font-weight: normal;
    display: block;
}
p {
    font-size: 25px;
    margin-left: 3%;
}
.profile_body {
    display: flex;
}
.profile_body_text a {
    color: #6f6969;
    text-decoration: none;
}
.profile_body_text ul li {
    font-size: 15px;
    padding-left: 1em;
    position: relative;
    list-style: none;
}
.profile_body_text ul li::before {
    content: "-";
    position: absolute;
    inset: 0 auto auto 0;
}
.profile_actions {
    display: flex;
    justify-content: center; /* 中央揃え */
    gap: 10px;
    margin-top: 10px;
}

.profile_actions .not_follow a,
.profile_actions .message a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto; 
    height: 40px; 
    padding: 0 20px; 
    color: #333;
    font-size: 30px; 
    font-weight: 700;
    text-decoration: none;
    background-color: #91a3ef;
    border-radius: 10px;
}

.profile_actions .message a {
    margin-left: 20px; /* メッセージとフォローの間の余白を調整 */
}

.profile_actions .follow a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    color: #333;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    background-color: #c5c5c5;
    border-radius: 10px;
}

.private-name{
    font-size: 25px;
    margin-left: 50px;
}

.vio{
    margin-left: 53px;
    font-size: 15px;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.post img {
    display: block;
    width: 100%;
}
